.banner1{
    height: 500px;
    width: 100%;
}
.banner2{
    width:600px;
    height:400px ;
}

.middle{
  
    margin-top: 70px;
   
  
   
}
.row{
   
    padding-bottom:50px;
    text-align: center;
    justify-content: center;
}

.team1{
    border-radius: 50%;
  width:70%;
}
.team2{
    border-radius: 50%;
    width:70%;
}

