



.footer{
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    text-align: center;
    background-color: #000;
    position: relative;
    width: 100%;
    
  }